:root {
  --primary-color: hsl(0, 0%, 50%);
  --secondary-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --loginheader-color: rgb(207, 207, 207);
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: hsl(0, 0%, 99%);
}

body {
  background-image: url("/Image/img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

a:hover {
  color: hsl(0, 0%, 85%);
}

a:active {
  color: hsla(323, 68%, 58%, 0.925);
  opacity: 0.75;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}

.login_box {
  position: relative;
  width: 450px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 1rem;
  border: 1px solid hsl(0, 0%, 70%);
  padding: 7.5rem 3rem 4rem 3rem;
  color: var(--secondary-color);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.95;
}

.login_box:hover {
  opacity: 0.97;
  border: 2px solid rgba(255, 255, 255, 0.95);
}

.checkbox-wrapper-43 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-43 .check {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-43 .check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: hsl(0, 0%, 75%);
  stroke-width: 1.8;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.checkbox-wrapper-43 .check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.checkbox-wrapper-43 .check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.checkbox-wrapper-43 .check:hover svg {
  stroke: hsl(0, 0%, 100%);
}

.checkbox-wrapper-43 input[type="checkbox"]:checked + .check svg {
  stroke: hsla(315, 71%, 49%, 0.897);
}

.checkbox-wrapper-43 input[type="checkbox"]:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

.checkbox-wrapper-43 input[type="checkbox"]:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

.checkbox-wrapper-43 .label-text {
  color: var(--secondary-color);
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
}

.checkbox-wrapper-43 .check:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: hsla(315, 71%, 49%, 0.2);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.checkbox-wrapper-43 .check:hover:before {
  opacity: 1;
  animation: pulseGlow 1.5s ease-in-out infinite;
}

.checkbox-wrapper-43 .check svg {
  stroke: hsl(0, 0%, 75%);
  fill: none;
  stroke-width: 1.8;
  transition: stroke 0.2s ease;
}

.checkbox-wrapper-43 input[type="checkbox"] + .check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 22;
  transition: stroke-dashoffset 0.2s linear 0.15s;
}

.checkbox-wrapper-43 input[type="checkbox"]:checked + .check svg polyline {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-43
  input[type="checkbox"]:not(:checked)
  + .check
  svg
  polyline {
  stroke-dashoffset: 22;
}

.checkbox-wrapper-43 .check:hover svg {
  stroke: hsl(0, 0%, 100%);
}

.login-header {
  position: absolute;
  top: 0;
  left: 50%;
  width: 150px;
  height: 75px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--loginheader-color);
  border-radius: 0 0 1rem 1rem;
  border-top: none;
  cursor: pointer;
  opacity: 0.95;
}

.login-header:hover {
  opacity: 1;
}

.login-header span {
  font-size: 1.75rem;
  font-family: default;
  background-image: url("/Image/img.jpg");
  background-size: fit;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.login-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  background: transparent;
  box-shadow: 15px 0 0 0 var(--loginheader-color);
}

.login-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  border-top-left-radius: 50%;
  background: transparent;
  box-shadow: -15px 0 0 0 var(--loginheader-color);
}

.input_box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.input-field {
  width: 85%;
  height: 35px;
  font-size: 1rem;
  background: transparent;
  color: var(--secondary-color);
  padding-inline: 20px 40px;
  border: 1px solid var(--primary-color);
  border-radius: 3rem;
  transition: all 0.1s ease-in-out;
  outline: none;
  position: relative;
}

.input-field:focus {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 8px 0 hsla(0, 0%, 98%, 0.938);
  transition: all 0.2s ease-in-out;
}

#user {
  margin-bottom: 10px;
}

.label {
  position: absolute;
  top: 10px;
  left: 15px;
  transition: 0.2s;
  background-image: url("/Image/img.jpg");
  background-size: fit;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  pointer-events: none;
}

.label::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  border-radius: 30px;
  z-index: -1;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 0 10px;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 8px 0 hsla(0, 0%, 98%, 0.938);
  font-family: default;
}

.input-field:focus ~ .label::before,
.input-field:valid ~ .label::before {
  background-color: var(--secondary-color);
}

.input-field::placeholder {
  color: transparent;
  transition: color 0.2s ease-in-out;
}

.input-field:focus::placeholder {
  color: hsla(0, 0%, 50%, 0.95);
}

.icon {
  position: absolute;
  top: 10px;
  right: 25px;
  background-image: url("/Image/img.jpg");
  background-size: auto;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.remember-forget {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.input-submit {
  width: 100%;
  height: 50px;
  border-radius: 2rem;
  border: 1px solid hsl(0, 0%, 2%);
  color: hsl(0, 0%, 0%);
  font-size: 1.75rem;
  font-family: "Lucida handwriting", cursive;
  font-weight: 500;
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: 0.3s;
}

.input-submit:hover {
  background-color: hsl(0, 0%, 95%);
  transform: scale(1.01);
  border: 2px solid hsl(0, 0%, 0%);
}

.input-submit:active {
  opacity: 0.89;
  transform: scale(0.98);
  border: 3px solid hsl(0, 0%, 0%);
}

.register {
  text-align: center;
  color: var(--primary-color);
  cursor: pointer;
}

.register a {
  font-weight: 500;
  color: hsl(0, 0, 100%);
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 20px;
  }
  .login_box {
    padding: 7.5rem 3rem 4rem 3rem;
  }
}
